pki/private/*
!pki/private/.gitkeep

pki/certs/*
!pki/certs/.gitkeep

pki/csr/*
!pki/csr/.gitkeep

pki/ca/*
!pki/ca/.gitkeep

pki/openssl/*.tmp.cnf

kerberos/principals/keytabs/*
!kerberos/principals/keytabs/.gitkeep

results/raw/*
!results/raw/.gitkeep
!results/raw/test-results.csv

results/experiments/*
!results/experiments/.gitkeep

results/faults/*
!results/faults/.gitkeep
