global
    log /dev/log local0
    log /dev/log local1 notice

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ldap_ldaps_frontend
    bind :1636 ssl crt /etc/haproxy/miniidm/ldap.fis.epn.edu.ec.pem
    default_backend ldap_ldaps_backends

backend ldap_ldaps_backends
    balance roundrobin
    option tcp-check
    server ldap1 ldap1.fis.epn.ec:636 ssl check verify required ca-file /etc/haproxy/miniidm/ca-root.crt
    server ldap2 ldap2.fis.epn.ec:636 ssl check verify required ca-file /etc/haproxy/miniidm/ca-root.crt
